---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign listings = site.listings | where: 'college', page.college | sort: 'college' %}
    {% for listing in listings %}
    {% assign college = site.colleges | where 'college', listing.college %}
    <div class="listing {{ listing.guild }}">
      <div class="guildtitle {{ listing.guild }}">
        <h2><a href="/guilds/{{ listing.guild }}">{{ listing.guild | capitalize }}' Guild</a></h2>
        <p class="guildsubheading">{{ page.college }}</p>
        {% assign edit_url = 'coalition-of-invisible-colleges/cic.github.io/edit/master/' | append: listing.path %}
      </div>
      <div class="curatorbox">
          {% if listing.pointperson %}<p>{% include icon-telegram-user.html username=listing.pointperson %}(curator)</p>{% endif %}
          <p>{% include icon-github.html username=edit_url title='Edit this listing' %}</p>
      </div>
      <div class="guildlisting {{ listing.guild }}">{{ listing.output }}</div>
    </div>
    {% endfor %}
  </div>

</article>
