---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign listings = site.listings | where: 'college', page.college | sort: 'college' %}
    {% for listing in listings %}
    {% assign guild = site.guilds | where: 'guild', listing.guild | first %}
    <div class="listing" style="background-color: {{ guild.background-color }}; border-color: {{ guild.border-color }};">
      <div class="guildtitle {{ listing.group }}">
        <h2><a href="/guilds/{{ listing.guild }}">{{ listing.group | capitalize }}{{ page.groupword }}</a></h2>
        <p class="guildsubheading">{{ page.college }}</p>
        {% assign edit_url = 'coalition-of-invisible-colleges/cic.github.io/edit/master/' | append: listing.path %}
      </div>
      <div class="curatorbox">
          {% if listing.curator %}<p>{% include contact.html username=listing.curator title=listing.curatortitle platform=listing.curatorplatform %} (curator)</p>{% endif %}
          <p>{% include icon-github.html username=edit_url title='Edit this listing' %}</p>
      </div>
      <div class="guildlisting" style="border-color: {{ guild.border-color }};">{{ listing.output }}</div>
    </div>
    {% endfor %}
  </div>

</article>
