---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
     {{ content }}
     {% for my_page in site.pages %}
          {% if my_page.guild == page.guild %}
            {% if my_page.layout == 'listing' %}
              <h2><a href="/colleges/{{ my_page.college }}">{{ my_page.college }}</a></h2>
              {% if my_page.pointperson %}
                Point Person: {% include icon-telegram-user.html username=my_page.pointperson %}
              {% endif %}
              {{ my_page.content | markdownify }}
            {% endif %}
          {% endif %}
        {% endfor %}
  </div>

</article>
