---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign listings = site.listings | where: 'guild', page.guild | sort: 'guild' %}
    {% for listing in listings %}
        <h2><a href="/colleges/{{ listing.college }}">{{ listing.college }}</a></h2>
        {% if listing.pointperson %}
          Point Person: {% include icon-telegram-user.html username=listing.pointperson %}
        {% endif %}
        {{ listing.content }}
    {% endfor %}
  </div>

</article>
