---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign listings = site.listings | where: 'guild', page.guild | sort: 'guild' %}
    {% for listing in listings %}
      <div class="listing" style="position: relative; margin-bottom: 5px; background-color: {{ page.background-color }}; border-color: {{ page.border-color }};">
        <div class="guildtitle">
          <h2><a href="/colleges/{{ listing.college }}">{{ listing.college }}</a></h2>
          <p class="guildsubheading">{{ page.guild | capitalize }}' Guild</p>
          {% assign edit_url = 'coalition-of-invisible-colleges/cic.github.io/edit/master/' | append: listing.path %}
        </div>
        <div class="curatorbox">
            {% if listing.pointperson %}<p>{% include icon-telegram-user.html username=listing.pointperson %}(curator)</p>{% endif %}
            <p>{% include icon-github.html username=edit_url title='Edit this listing' %}</p>
        </div>
        <div class="guildlisting" style="border-color: {{ page.border-color }};">{{ listing.output }}</div>
      </div>
    {% endfor %}
  </div>

</article>
